*, 
*:before, 
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
} 

.clearfix:before,
.clearfix:after {
	display: table;
	content:  '';
}

.clearfix:after {
	clear: both;
}

body {
	color: #fff;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: 'Karla', sans-serif;
}

.container {
	height: 100%;
	width: 100%;
}

.menu-icon,
.ctrl-icon {
	position: absolute;
	display: inline-block;
	background: rgba(37, 25, 25, 1);
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition: background 0.3s;
	z-index: 100;
}

.ctrl-icon {
	z-index: 9;
}

.menu-icon {
	top: 20px;
	left: 20px;
}

.ctrl-icon {
	bottom: 20px;
	right: 20px;
}

.menu-toggle,
.ctrl-toggle {
	display: inline-block;
	height: 100%;
	width: 100%;
	background: transparent;
	transition: all 0.3s;
}

.menu-toggle {
	transform: rotate(180deg);
}

.ctrl-toggle {
	transform: rotate(90deg);
}

.menu-toggle.open {
	transform: rotate(0deg);
}

.menu-toggle span,
.ctrl-toggle span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 4px;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 1);
}

.ctrl-toggle span:first-of-type {
	top: calc(50% - 12px);
	transition: 0.3s all;
}

.ctrl-toggle span:last-of-type {
	top: calc(50% + 12px);
	transition: 0.3s all;
}

.menu-toggle span:before,
.menu-toggle span:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 1);
}

.menu-toggle span:before {
	top: -10px;
}

.menu-toggle span:after {
	top: 10px;
}

.menu-icon:hover,
.ctrl-icon:hover {
	background: rgba(37, 35, 35, 0.7);
}

.menu-toggle.open span:before,
.menu-toggle.open span:after {
	width: 50%;
	left: -2px;
}

.menu-toggle.open span:before {
	transform: rotate(-40deg);
	top: -5px;
}

.menu-toggle.open span:after {
	transform: rotate(40deg);
	top: 5px;
}

.ctrl-toggle span:before {
	content: '';
	position: absolute;
	height: 10px;
	width: 5px;
	background: #fff;
	top: -3px;
}

.ctrl-toggle span:nth-of-type(1):before {
	left: 5px;
}

.ctrl-toggle span:nth-of-type(2):before {
	left: 15px;
}

.ctrl-toggle span:nth-of-type(3):before {
	right: 1px;
}

.ctrl-toggle.open {
	transform: rotate(-90deg);
}

.ctrl-toggle.open span:nth-of-type(1),
.ctrl-toggle.open span:nth-of-type(3) {
	width: 34%;
	left: 5px;
}

.ctrl-toggle.open span:nth-of-type(1) {
	transform: rotate(-40deg);
	top: 18px;
}

.ctrl-toggle.open span:nth-of-type(3) {
	transform: rotate(40deg);
	top: 28px;
}

.ctrl-toggle.open span:before,
.ctrl-toggle.open span:after {
	display: none;
}

.instr-side {
	position: absolute; /* relative */
	height: 100vh;
	width: 100vw;
	clip: rect(20px, 70px, 70px, 20px);
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	overflow: hidden;
	z-index: 10;
}

.instr-side.show {
	clip: rect(0vw, 100vw, 100vh, 0vh);
}

.instr-side > div.instr-wrapper,
.ctrl-side > div.ctrl-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(37, 37, 35, 1);
	padding: 10px 20px;
	z-index: 1;
}

.ctrl-side > div.ctrl-wrapper {
	padding: 10px 5px;
}

.instr-side > div.img-wrapper,
.ctrl-side > div.img-wrapper {
	position: absolute;
	bottom: -35px;
	transform: rotate(35deg);
	z-index: 2;
}

.ctrl-side > div.img-wrapper {
	transform: rotate(86deg);
	left: -52px;
}

.ctrl-side > div.img-wrapper img {
	transform: scale(1.2);
}

.instr-side > div.img-wrapper img {
	transform: scale(1.5);
}

.instr-side header {
	text-align: center;
}

.instr-side header p {
	font-size: 1.1em;
	line-height: 1.4em;
}

.instr-side header h1 {
	margin: 0;
	color: ;
	font-family: 'Karla', sans-serif;
	font-size: 1.8em;
}

.instr-side header h1 span {
	display: block;
	margin-top: -10px;
}

.instr-side header h1 span:first-of-type {
	margin-top: -20px;
}

.instr-side header h1 img {
	height: 100px;
}

.instr-side .instructions {
	margin-top: 10px;
	text-align: center;
}

.instr-side .instructions > div {
	margin: 0 auto;
	width: 60%;
}

.instr-side .instructions h2 {
	margin: 0 0 15px;
	font-size: 1.6em;
	font-weight: 400;
	text-align: center
}

.instr-side ul {
	text-align: left;
	list-style: none
}

.instr-side ul li {
	margin-top: 15px;
}

.instr-side ul li .li-number {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	background: #fff;
	color: rgba(255, 51, 85, 1);
	font-weight: 700;
	text-align: center;
	border-radius: 50%;
}

.instr-side ul li .li-item {
	font-size: 1.3em;
}

.instr-side .instructions > div > p {
	margin: 30px 0 0 0;
	font-size: 1.5em;
}

.instr-side .instructions > p span {
	color: ;
}

.instr-side footer {
	position: absolute;
	bottom: 0;
	width: calc(100% - 20px);
	padding: 20px 0;
	font-size: 1.3em;
	text-align: center;
}

.instr-side footer a {
	text-decoration: none;
	color: #f35;
}

.ctrl-side {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 100vh;
    overflow: hidden;
    clip: rect(calc(100vh - 70px), 70px, calc(100vh - 20px), 20px);
    transition: all 0.5s ease-out;
    z-index: 1;
}

.ctrl-side.show {
	bottom: 0;
    right: 0;
    clip: rect(0px, 90px, 100vh, 0px);
}

.display-container {
	margin-top: 10px;
}

.display-container > div,
.controls-container > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	margin-bottom: 15px;
	font-size: 1.2em;
	text-align: left;
}

.controls-container > div:last-of-type {
	height: 100%;
	margin-bottom: 0;
}

.controls-container .img-select {
	height: 60px;
	width: 60px;
	margin: 0 auto;
	overflow: hidden;
	cursor: pointer;
	transition-delay: 1s;
	transition: all 0s;
}

.controls-container .img-select:hover {
	overflow: visible;
}

.controls-container .img-wrap {
	perspective: 8000px;
}

.controls-container .img-wrap > div {
	height: 60px;
	width: 100%;
	margin-top: 1px;
	background: #fff;
	transform: rotateX(-90deg);
	transform-origin: 50% 0;
	backface-visibility: hidden;
	transition: all .3s;
}

.controls-container .img-wrap > div:nth-child(1) {
	transform: rotateY(0deg);
}

.controls-container .img-wrap > div:nth-child(2) {
	transition-delay: 0s;
}

.controls-container .img-wrap > div:nth-child(3) {
	transition-delay: 0s;
}

.controls-container .img-wrap > div:nth-child(4) {
	transition-delay: 0s;
}

.controls-container .img-select:hover > .img-wrap > div {
	transform: rotateX(0deg);
}

.controls-container .img-wrap:hover > div:nth-child(2) {
	transition-delay: .2s;
}

.controls-container .img-wrap:hover > div:nth-child(3) {
	transition-delay: .4s;
}

.controls-container .img-wrap:hover > div:nth-child(4) {
	transition-delay: .6s;
}

.controls-container .img-wrap > div img {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}

span.display {
	display: inline-block;
	height: 100%;
	width: 60px;
	margin: 0 auto;
	padding-right: 7px;
	background: rgb(248, 248, 255);
	font-size: 1.5em;
	color: rgba(37, 37, 35, 0.9);
	text-align: right;
}

span.display.counter.ending {
	color: #f35;
	visibility: visible;
	-webkit-animation: blink 1s /*steps(2, end)*/linear 10 /*forwards*/normal;
	animation: blink 1s /*steps(2, end)*/linear 10 /*forwards*/normal;
}

@keyframes blink {
	0% {color: #f35;}
	69.9% {color: #f35;}
	70% {color: #fff;}
	100% {color: #fff;}
}

@-webkit-keyframes blink {
	0% {color: #f35;}
	69.9% {color: #f35;}
	70% {color: #fff;}
	100% {color: #fff;}

}

.controls-container {
	margin-top: 20px;
}

.controls-container .btn {
	height: 35px;
	width: 60px;
	margin: 0 auto;
	border: none;
	color: #fff;
	font-size: 0.9em;
}

.btn:hover {
	transform: translate(1px, 1px);
}

.btn:focus,
.btn:active {
	outline: none;
}

.btn.start-btn {
	background: #182;
}

.btn.start-btn:hover {
	background: #171;
}

.btn.reset-btn {
	background: #f35;
}

.btn.reset-btn:hover {
	background: #e26;
}

.love {
	color: #f35;
	padding: 0 7px;
	-webkit-animation: beat 3s linear 0s infinite normal;
	animation: beat 3s linear 0s infinite normal;
}

@keyframes beat {
	0% {transform: scale(1);}
	5% {transform: scale(1.3);}
	10% {transform: scale(0.9);}
	15% {transform: scale(1);}
	20% {transform: scale(1.3);}
	25% {transform: scale(0.9);}
	30% {transform: scale(1);}
	100% {transform: scale(1);}
}

@-webkit-keyframes beat {
	0% {transform: scale(1);}
	5% {transform: scale(1.3);}
	10% {transform: scale(0.9);}
	15% {transform: scale(1);}
	20% {transform: scale(1.3);}
	25% {transform: scale(0.9);}
	30% {transform: scale(1);}
	100% {transform: scale(1);}
}

main {
	height: 100%;
	width: 100%;
	float: right;
	background: rgb(248, 248, 255);
	overflow-x: hidden;
	overflow-y: scroll;
}

.bubble-container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.board {
	position: relative;
	height: 100%;
	width: 750px;
	margin: 10px auto;
	pointer-events: none;
}

.board.enable {
	pointer-events: auto;
}

.card-wrapper {
	-webkit-perspective: 300px;
	perspective: 300px;
	height: 175px;
	width: 120px;
	margin: 10px 15px;
	float: left;
	cursor: pointer;
}

.card {
	position: relative;
	-webkit-transform-style: preserve-3d;
	height: 100%;
	width: 100%;
	border-radius: 7px;
	box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.4);
	transition: transform .4s;
}

.card.flip {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 7px;
}

.card-front {
	transform: rotateY(180deg);
	background: #252323;
}

.card-front img {
	position: absolute;
	max-height: 90%;
	max-width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card-back {
	background: #f35;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	pointer-events: none;
}

.overlay-circle {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.overlay-circle circle {
	-webkit-transition: fill-opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: fill-opacity 0.3s, transform 0s 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transform: scale3d(0, 0, 1);
	transform: scale3d(0, 0, 1);
	fill: #1f1d1d;
	fill-opacity: 0;
}

.open .overlay {
	pointer-events: auto;
}

.open .overlay-circle circle {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	fill-opacity: 1;
}

/*.overlay.show {
	opacity: 1;
	display: block;
}*/

.overlay .close-icon {
	position: absolute;
	top: 40px;
	right: 40px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	transform-origin: 50% 50%;
	transition: transform 0.5s;
	z-index: 100; /* <--- remove and add to new overlay content-container div? */
}

.overlay .close-icon:hover {
	transform: rotate(180deg);
}

.overlay .close-icon:before,
.overlay .close-icon:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 3px;
	width: 100%;
	background: #fff;
	transform-origin: 50% 50%;
}

.overlay .close-icon:before {
	transform: translateY(-50%) rotate(45deg);
}

.overlay .close-icon:after {
	transform: translateY(-50%) rotate(-45deg);
}

.overlay .close-icon.hide {
	display: none;
	opacity: 0;
}

.countdown {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	line-height: 200px;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 100; /* <---- remove and add to new overlay content-container div */
}

.countdown.hide {
	display: none;
	opacity: 0;
}

.countdown > div {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 2020px;
	transition: transform 0.3s;
}

.countdown.start > div {
	animation: countdown 5s 0.5s forwards;
}

@keyframes countdown {
	0% {transform: translateX(0);}
	13.5% {transform: translateX(0);}
	23.6% {transform: translateX(-404px);}
	37.1% {transform: translateX(-404px);}
	45.2% {transform: translateX(-808px);}
	58.5% {transform: translateX(-808px);}
	66.6% {transform: translateX(-1212px);}
	80.1% {transform: translateX(-1212px);}
	88.2% {transform: translateX(-1616px);}
	100% {transform: translateX(-1616px);}

}

@-webkit-keyframes {
	to {transform: translateY(-);}
}

.countdown > div > span {
	display: inline-block;
	height: 100%;
	width: 400px;
	font-size: 90px;
	text-align: center;
}

.credits {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.credits > div:nth-child(1) {
	font-size: 1.6em;
	margin-bottom: 40px;
}

.credits > div:nth-child(2) {
	font-size: 1.4em;
	margin-bottom: 40px;
}

.credits > div:nth-child(3) {
	font-size: 1.4em;
}

.credits.hide {
	display: none;
	opacity: 0;
}

span.yes, 
span.no {
	margin-left: 10px;
	cursor: pointer;
}

span.yes:hover,
span.no:hover {
	font-weight: 600;
}

span.yes {
	color: #182;
}

span.no {
	color: #f35;
}


